.modalBackground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modalContainer {
    width: 55% !important;
    height: 80% !important;
    border-radius: 12px !important;
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 25px !important;
  }
  
  .title {
    text-align: center !important;
  }
  
  .titleCloseBtn {
    display: flex !important;
    justify-content: flex-end !important;
  }
  
  .titleCloseBtn button {
    background-color: transparent !important;
    border: none !important;
    font-size: 20px !important;
    border-radius: 15px !important;
    width: 28px !important;
    cursor: pointer !important;
    background-color: crimson !important;
    color: white !important;
  }
  
  .footer-of-modal {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
  }
  
  .footer-of-modal button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: crimson;
  }
